@media screen and (max-width:800px) {
    .section-about {
        flex-direction: column;
        margin-top: 100px;
    }

    .field-text-about {
        width: 90%;
    }

    .section-services {
        margin: 500px 0;
    }

    .section-services ul {
        flex-direction: column;
    }

    .owl-carousel .owl-item {
        display: flex;
        justify-content: center;
    }
    .subtitle-depositions{
        text-align: center;
    }
}


@media screen and (max-width:630px) {
    .header {
        flex-direction: column;
    }

    .img-main{
        width: 350px;
    }
    .img-about{
        width: 350px;
    }
    .field-img{
        height: 350px;
    }

    .socialIcons{
        
    }
    .footerNav ul{
        flex-direction: column;
        align-items: center;
    }
    form input, form textarea{
        width: auto;
    }

    .title-main{
        font-size: 30px;
    }
}

@media screen and (max-width:420px){
    footer{
        margin-top: 100px;
    }
}