@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    width: 100%;
    height: 100%;
    font-family: "Poppins", sans-serif;
    background-color: #1A1A1A;
}
/* Estilizando a seção principal */
.main section{
    width: 100%;
    height: 100vh;
}
/* Estilizando o cabeçalho */
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}

.header .logo{
    width: 200px;
}

.header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.header ul li{
    list-style: none;
}


.header ul li a:hover{
    color: #25D366;
    transition: all.4s;
}

.header ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
/* Estilizando o conteúdo principal */
.main-content{
    height: 100vh;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* Estilizando o campo de imagem */
.field-img{
    position: relative;
    height: 500px;
}
.img-main{
    width: 600px;
   
}
/* Estilizando o título principal */
.main-title{
    color: white;
    text-transform: uppercase;
    font-size: 35px;
    text-align: center;
    text-shadow: 1px 1px 2px black;
}
/* Estilizando o botão principal */
.btn-main{
    border: none;
    outline: none;
    background-color: #01DC71;
    padding: 10px;
    border-radius: 5px;
    font-size: 30px;
    color: white;
    font-weight: 800;
    text-transform: uppercase;
    cursor: pointer;
    transition: all.4s;
    margin: 20px 0;
    text-decoration: none;
    box-shadow: 1px 1px 4px 4px rgba(0, 0, 0, 0.192);
}

.btn-main:hover{
    transform: scale(0.96);
}

.btn-main:active{
    transform: scale(1);
}

.textGreen{
    color: #01DC71;
}

/* ESTILO DE FORMULARIO DE CONTATO */
section.form{
    height: 100vh;
    padding: 80px 4%;
}
h2.title-form{
    color: white;
    font-size: 38px;
    text-align: center;
    margin-top: 230px;
}
h2.title-form span{
    color: #01DC71;
}
form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

form input, form textarea{
    width: 100%;
    background-color: #6b6b6bce;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
}

form input::placeholder{
    color: #bbbbbb;
}

form textarea::placeholder{
    color: #bbbbbb;
}


form textarea{
    resize: none;
    max-height: 200px;
}

form .send{
    margin-top: 20px;
}

form .send input{
    width: 120px;
    background-color: #01DC71;
    color: #000000b4;
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
}
form .send input:hover{
    transform: scale(0.96);
}


form .send input:active{
    transform: scale(1);
}
/* Estilizando a seção sobre */
.section-about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    height: 100vh;
}
.img-about{
    width: 500px;

}

.field-text-about{
    width: 40%;
}
.text-about{
    color: white;
    font-size: 18px;
}
/* Estilizando a seção de serviços */
.services-section{
    display:flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.services-title{
    color: white;
    text-transform: uppercase;
    font-size: 35px;
}

.services-section ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 25px;
    margin: 70px 0 0 0;
}
/* Estilizando o cartão de serviço */
.card{
    width: 350px !important;
    height: 400px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    background-color: #292929;
    color: white;
    text-align: center;
    padding: 10px;
    gap: 25px;
    box-shadow: 0px 0px 3px 5px rgba(0, 0, 0, 0.209);
}

.card:hover{
    transform: translateY(-5px);
    transition: all.4s;
}
.title-card{
    font-size: 25px;
    text-transform: uppercase;
}

.card i{
    font-size: 60px;
    color: #01DC71;
}

.btn-card{
    color: white;
    border: none;
    outline: none;
    background-color: #01DC71;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 1px 1px 2px 4px rgba(0, 0, 0, 0.209);
}

.btn-card:active{
    transform: scale(0.96);
}
/* Botão de contato fixo na parte inferior direita da tela */
.contact-us{
    position: fixed;
    bottom: 0;
    right: 10px;
    bottom: 10px;text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
    color: white;
    background-color: #01DC71;
    padding: 10px;
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 1px 1px 4px 6px rgba(0, 0, 0, 0.274);
    cursor: pointer;
    transition: all.4s;
}
.contact-us:hover{
    transform: scale(0.96);
}

.contact-us:active{
    transform: scale(1.1);
}
.contact-us i{
    position: absolute;
    right: 15px;
    top: 15px;
    font-size:50px;
}
/* Seção de depoimentos, exibindo os depoimentos em uma coluna centralizada */
.section-depositions{
    display:flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.title-depositions{
    color: white;
    text-transform: uppercase;
    font-size: 30px;
}

.subtitle-depositions{
    color: #35b464;
    font-size: 46px;
    margin: 15px 0;
}
.sub-text{
    color: white;
    text-align: center;
}
.owl-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%; 
    margin: 100px auto;
}
.owl-carousel  .card{
    gap: 30px;
}
.owl-carousel  .card img{
    width: 100px;
    height: 100px;
    border: 2px solid #01DC71;
    border-radius: 50%;
}
.owl-carousel  .card .comment-card{
    text-align: center;
    max-width: 90%;
}

.owl-carousel .card .name-card{
    font-size: 18px;
}

.owl-nav{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.owl-nav button span{
    color: white;
    font-size: 50px;
}

.owl-carousel .owl-stage-outer {
    padding: 10px;
}

/* Estilos para o rodapé da página */
footer{
    background-color: #111;
}
.footerContainer{
    width: 100%;
    padding: 20px 0px;
}
.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    text-align: center;
}
.socialIcons a i{
    font-size: 2em;
    color: black;
    opacity: 0,9;
}
/* Hover no icone das redes sociais */
.socialIcons a:hover{
    background-color: #111;
    transition: 0.5s;
}
.socialIcons a:hover i{
    color: white;
    transition: 0.5s;
}
.contact-info {
    margin: 30px 0;
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.contact-info a {
    color:white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}
.contact-info a:hover {
    opacity: 1;
}
.footerNav{
    margin: 30px 0;
}
.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.footerNav ul li a{
    color:white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;

}
.footerNav ul li a:hover{
    opacity: 1;
}
.footerBottom{
    background-color: #000;
    padding: 20px;
    text-align: center;
}
.footerBottom p{
    color: white;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}